<launch>

  <node pkg="rospytro" type="path_solver.py" name="solver" output="screen" />

  <param name="default_trajectory_folder"  value="$(find rospytro)/launch" />
  <node name="traj_gui" pkg="brl_drones" type="csv_trajectory_gui.py">
    <remap from="/inp_traj" to="/traj" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospytro)/launch/virtual_drone.rviz"/>

  <param name="use_gui" value="false"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">['target/joint_states']</rosparam>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find brl_drones)/urdf/single_drone.urdf.xacro" />

  <include file="$(find brl_drones)/launch/single_virtual.launch">
    <arg name="drone_name" value="target" />
    <arg name="use_panel" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world base_link 100" />

  <arg name="panel" default="True" />

  <arg name="image" default="False" />

  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <include file="$(find brl_parrots)/launch/basic_drone.launch" pass_all_args="true">
    <arg name="drone_name" value="archie" />
    <arg name="drone_ip" value="192.168.10.71" />
  </include>

    <param name="ctrl_drone_frame" type="string" value="vicon/Archie/Archie" />
    <param name="targ_drone_frame" type="string" value="target_hull" />

    <node pkg="brl_drones" name="control" type="drone_tf_follow.py">
      <param name="pitch/init_gains/kp" type="double" value="0.5" />
      <param name="pitch/init_gains/ki" type="double" value="0.1" />
      <param name="pitch/init_gains/kd" type="double" value="0.25" />
      <param name="pitch/init_limits/upper" type="double" value="0.3" />
      <param name="pitch/init_limits/lower" type="double" value="-0.3" />
      <param name="roll/init_gains/kp" type="double" value="0.5" />
      <param name="roll/init_gains/ki" type="double" value="0.1" />
      <param name="roll/init_gains/kd" type="double" value="0.25" />
      <param name="roll/init_limits/upper" type="double" value="0.3" />
      <param name="roll/init_limits/lower" type="double" value="-0.3" />
      <param name="yaw/init_gains/kp" type="double" value="0.9" />
      <param name="yaw/init_gains/ki" type="double" value="0.0" />
      <param name="yaw/init_gains/kd" type="double" value="0.0" />
      <param name="yaw/init_limits/upper" type="double" value="0.3" />
      <param name="yaw/init_limits/lower" type="double" value="-0.3" />
      <param name="height/init_gains/kp" type="double" value="0.3" />
      <param name="height/init_gains/ki" type="double" value="0.0" />
      <param name="height/init_gains/kd" type="double" value="0.0" />
      <param name="height/init_limits/upper" type="double" value="0.3" />
      <param name="height/init_limits/lower" type="double" value="-0.3" />
      
      <remap from="ctrl_vel" to="/archie/ext_vel" />
    </node>

</launch>
