<launch>

  <param name="joint_prefix" value="target_move_" />
  
  <node pkg="rospytro" type="path_solver.py" name="solver" output="screen">
    <remap from="/traj" to="/inp_traj" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospytro)/launch/virtual_drone.rviz"/>

  <include file="$(find brl_drones)/launch/single_virtual.launch">
    <arg name="drone_name" value="target" />
  </include>

</launch>
